@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/Proxima Nova Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/Proxima Nova Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Regular.eot');
	src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Regular.woff2') format('woff2'),
	url('../fonts/CeraPro-Regular.woff') format('woff'),
	url('../fonts/CeraPro-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Medium.eot');
	src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Medium.woff2') format('woff2'),
	url('../fonts/CeraPro-Medium.woff') format('woff'),
	url('../fonts/CeraPro-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Light.eot');
	src: url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Light.woff2') format('woff2'),
	url('../fonts/CeraPro-Light.woff') format('woff'),
	url('../fonts/CeraPro-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cera Pro';
	src: url('../fonts/CeraPro-Bold.eot');
	src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Bold.woff2') format('woff2'),
	url('../fonts/CeraPro-Bold.woff') format('woff'),
	url('../fonts/CeraPro-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


