.fade-block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#C9C9C9, .84);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}
.modal-window {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.modal__body{
	width: 1364px;
	padding: 61px 46px 84px 71px;
	background: #F0F0F0;
	position: relative;
	height: 706px;
}
.modal__body:before{
	content: url('../img/header/luchnik.svg');
	position: absolute;
	right: 144px;
	bottom: 84px;
}
.modal__close{
	position: absolute;
	top: 37px;
	right: 43px;
}
.modal__title {
	font-size: 19px;
	line-height: math.div(24, 19) * 100%;
	text-transform: uppercase;
	letter-spacing: 2.2px;
	color: #000;
	font-weight: 500;
	@include adaptiv-value("margin-bottom", 48, 15, 1);
}
.modal__content {
	display: flex;
	width: 100%;
}
.modal__menu-list:not(:last-child) {
	@include adaptiv-value("margin-right", 195, 10, 1);
}
.modal__menu-item {
	display: flex;
	align-items: center;
	&:not(:last-child){
		@include adaptiv-value("margin-bottom", 30, 10, 1);
	}
}
.modal__arrow {
	display: inline-block;
}
.modal__menu-link {
	font-size: 18px;
	line-height: math.div(31, 18) * 100%;
	@include adaptiv-value("padding-left", 62, 15, 1);
	color: #000;
	font-weight: 400;
	letter-spacing: 2px;
}


// MODAL EXPERT
.expert__tab-text::-webkit-scrollbar{
	background: #9E9E9E;
	width: 3px;
}
.expert__tab-text::-webkit-scrollbar-track{
	background: #9E9E9E;
}
.expert__tab-text::-webkit-scrollbar-thumb{
	background: #717171;
	border-radius: 10px;
}